---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';

import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Portfolio', href: '/' },
        { text: 'Resume', href: '/cv' },
        { text: 'Contact', href: '/contact' },
      ]}
      actions={[
        {
          text: 'Just do it!',
          href: '/cv',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <Features2
    title="Let's Connect!"
    items={[
      {
        title: 'LinkedIn',
        description:
          '<a href="https://www.linkedin.com/in/Anna-LenaBirkner" target="_blank" style="text-decoration: underline; color: #0066cc;">Anna-Lena Birkner</a>',
        icon: 'tabler:brand-linkedin',
      },
      {
        title: 'Email',
        description:
          '<a href="mailto:Birkneranna@gmail.com" style="text-decoration: underline; color: #0066cc;">Birkneranna@gmail.com</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Valencia, Spain (Remote)',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
