---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';


const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Portfolio', href: '/' },
        { text: 'Resume', href: '/cv' },
        { text: 'Contact', href: '/contact' },
        
      ]}
      actions={[
        {
          text: 'Just do it!',
          href: '/cv',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <Fragment>
    <div class="container">
     
      <iframe src="~/assets/images/Anna-LenaBirkner_CV.pdf" width="100%" height="600px"></iframe>
    </div>
  </Fragment>
</Layout>
