---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'My Portfolio',
};
---

<Layout metadata={metadata}>
  <!-- <Fragment slot="announcement"></Fragment> -->
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Blog', href: '/blog' },
        { text: 'Github', href: 'https://github.com/alephantom' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '/contact',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Ressourceful and Empathy-Driven"
    tagline="The PM you need for your next project"
    actions={[{ variant: 'primary', text: 'Hire me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      With a passion for AI-transformation, ressonationg user experiences, and a knack for innovation, I'm dedicated to
      creating products that make an impactful difference.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      // {
      //   icon: 'tabler:brand-dribbble',
      //   callToAction: {
      //     target: '_blank',
      //     text: 'Dribbble',
      //     href: '#',
      //   },
      // },

      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: '~/assets/images/alb-notion1.png',
      alt: 'Early adopter Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About Me</h2>
      <p>
        I'm a Social Scientist and HR Analyst turned Product Manager, blending my passion for Tech and AI with a deep
        understanding of people. Innovation excites me, and I thrive on creating products that truly make a difference.
        <br />
        I see the world through a lens of possibilities—where others find challenges, I uncover opportunities. My work is
        fueled by curiosity, teamwork, and a relentless drive to bring ideas to life.
      </p>
      <br />
      <p>
        Outside of work, you'll find me in the kitchen, whipping up healthy dishes to nourish my loved ones. Cooking is
        my creative outlet, and I'm currently channeling that passion into a cookbook!
      </p>
      <br />
      <p>
        Feeling hungry? If you're looking for quick, affordable, and healthy meals, check out some of my preview recipes
        here:
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Co-Founder & Product Manager<br /> <span class="font-normal"><a href="https://sheleadsproduct.tech" target="_blank" rel="noopener noreferrer" style="color: #0066cc; text-decoration: underline;">SheLeadsProduct.tech</a></span> <br /> <span class="text-sm font-normal">2024 - Present</span>',
        description:
          'Developed and launched SheLeadsProduct.tech, a platform empowering women in product management. <br /> Designed and built the website to provide resources, mentorship, and networking opportunities. <br /> Organized team events and hosted monthly roundtables with PMs of all levels. <br /> Committed to helping women thrive in tech and supporting collective growth. <br /><br /> <strong>Key Skills:</strong> Product Strategy, Community Building, Event Organization, Stakeholder Engagement, Digital Marketing, UX/UI.',

        icon: 'tabler:briefcase',
      },
      {
        title:
          'Payroll & Benefits Analyst <br /> <span class="font-normal"><a href="https://www.statestreet.com" target="_blank" rel="noopener noreferrer" style="text-decoration: underline; color: #0066cc">State Street</a><span style="color: #6c757d; font-style: italic;"> (Financial Services)</span><span style="color: #6c757d;">, Germany</span> <br /> <span class="text-sm font-normal">2020 - Present</span>',
        description:
          'Managed payroll operations, ensuring accuracy and efficiency. <br /> Administered employee benefits, including childcare support and anniversary bonuses. <br /> Maintained employee records and generated personnel reports. <br /> Improved HR processes through documentation and best practice alignment. <br /><br /> <strong>Key Skills:</strong> Process Improvement, Compliance, Data Analysis, Payroll Systems, Communication, Problem-Solving.',
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Working Student - Global Human Resources <br /> <span class="font-normal"><a href="https://www.statestreet.com" target="_blank" rel="noopener noreferrer" style="text-decoration: underline; color: #0066cc">State Street</a><span style="color: #6c757d; font-style: italic;"> (Financial Services)</span><span style="color: #6c757d;">, Germany</span><br /> <span class="text-sm font-normal">2018 - 2020</span>',
        description:
          'Supported HR Shared Services in administrative and process improvement tasks. <br /> Assisted payroll operations, ensuring accuracy. <br /> Prepared HR documents, including contract addendums and reference letters. <br /> Maintained employee records and responded to inquiries via the ticket system. <br /> Led administration of monthly childcare benefits and anniversary bonuses. <br /> Developed and documented streamlined HR processes for enhanced efficiency. <br /><br /> <strong>Key Skills:</strong> HR Operations, Payroll Processing, Process Optimization, Customer Support, Documentation, Attention to Detail.',
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Customer Management Advisor <br /> <span class="font-normal">NGA Human Resources</a><span style="color: #6c757d;"> (HR & Payroll Services), Spain </span> <br /> <span class="text-sm font-normal">2017 - 2018</span>',
        description:
          'Managed payroll and HR operations for multiple clients, ensuring accuracy and compliance. <br /> Streamlined processes, resolved HR inquiries, and optimized workforce administration using SAP, Workday, and Kronos. <br /> Delivered a seamless customer experience through effective problem-solving and communication. <br /><br /> <strong>Key Skills:</strong> Process Optimization, Customer Experience, Problem-Solving, Data Management, Compliance & Regulations.',
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Student Assistant - Gender Studies <br /> <span class="font-normal"><a>Goethe University Frankfurt <span style="color: #6c757d;">(Higher Education), Germany </span><br /> <span class="text-sm font-normal">2015 - 2016</span>',
        description:
          'Conducted research on gender equity and systemic barriers in career progression. <br /> Led workshops on academic writing and critical thinking, enhancing communication and analytical skills. <br /> Assisted in literature reviews and data analysis to support key research initiatives. <br /><br /> <strong>Key Skills:</strong> Research & Analysis, Critical Thinking, Communication, Data Interpretation, Workshop Facilitation.',
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title:
          'Product Management Bootcamp <br /> <span class="font-normal">AllWomen</span> <br /> <span class="text-sm font-normal">Jan 2025</span>',
        description:
          '• Product Strategy & Vision <br /> • Agile & Scrum Methodologies <br /> • Data-Driven Decision Making <br /> • UX & Customer Insights <br /> • Competitive Analysis <br /> • Stakeholder Communication',
        icon: 'tabler:school',
      },
      {
        title:
          'Master of Business Administration - MBA <br /> <span class="font-normal">ENEB - Escuela de Negocios Europea de Barcelona</span> <br /> <span class="text-sm font-normal">May 2025</span>',
        description:
          '• Business & Product Strategy <br /> • Change Management <br /> • Market Research & Analytics <br /> • Digital Transformation <br /> • Operations & Supply Chain Management <br /> • Leadership & Decision Making',
        icon: 'tabler:school',
      },
      {
        title:
          'Bachelor\'s Degree in Sociology and Political Science <br /> <span class="font-normal">Goethe University Frankfurt</span>',
        description:
          '• Market & User Research <br /> • Data Analysis & Interpretation <br /> • Critical Thinking & Problem Solving <br /> • Social Behavior & Consumer Insights <br /> • Communication & Collaboration',
        icon: 'tabler:school',
      },
      {
        title:
          'Erasmus Program in Sociology and Political Science <br /> <span class="font-normal">Universidad de Granada</span>',
        description:
          '• Cross-Cultural Communication <br /> • Adaptability & Learning Agility <br /> • Research & Analytical Thinking <br /> • Policy & Regulatory Understanding',
        icon: 'tabler:school',
      },
      {
        title:
          'High School Diploma in Pedagogy and Psychology <br /> <span class="font-normal">Kolping Bildungswerk Stuttgart</span>',
        description:
          '• Behavioral Analysis & User Psychology <br /> • Organizational & Team Management <br /> • Teaching & Knowledge Transfer <br /> • Empathy & User-Centered Thinking',
        icon: 'tabler:school',
      },
      {
        title: 'High School Diploma <br /> <span class="font-normal">Bealsville High School, Ohio</span>',
        description:
          '• International & Cultural Adaptability <br /> • Problem-Solving & Independence <br /> • Communication & Teamwork <br /> • Leadership & Initiative',
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps
    id="resume"
    title="Certificates"
    items={[
      {
        title:
          'Radical Product Thinking: Vision Setting <br /> <span class="font-normal">Pendo.io</span> <br /> <span class="text-sm font-normal">Issued Nov 2024</span>',
        description:
          '• Product Vision & Strategy <br /> • Strategic Thinking <br /> • Adaptability & Learning Agility <br /> • Workload Prioritization <br /> • Organization Skills',
        icon: 'tabler:certificate',
      },
      {
        title:
          'Introduction to UI and UX Design <br /> <span class="font-normal">Codecademy</span> <br /> <span class="text-sm font-normal">Issued Apr 2024</span>',
        description:
          '• UX/UI Principles <br /> • Figma (Software) <br /> • User-Centered Design <br /> • Workload Prioritization <br /> • Organization Skills',
        icon: 'tabler:certificate',
      },
      {
        title:
          'Code Foundations Skill Path <br /> <span class="font-normal">Codecademy</span> <br /> <span class="text-sm font-normal">Issued Oct 2023</span>',
        description:
          '• HTML & CSS <br /> • GitHub & Version Control <br /> • Jekyll & SaaS <br /> • Workload Prioritization <br /> • Organization Skills',
        icon: 'tabler:certificate',
      },
      {
        title:
          'Learn How to Code <br /> <span class="font-normal">Codecademy</span> <br /> <span class="text-sm font-normal">Issued Oct 2023</span>',
        description: '• Programming Fundamentals <br /> • Workload Prioritization <br /> • Organization Skills',
        icon: 'tabler:certificate',
      },
      {
        title:
          'Scrum Master Certification Specialization <br /> <span class="font-normal">Coursera</span> <br /> <span class="text-sm font-normal">Issued Aug 2023</span>',
        description:
          '• Scrum & Agile Methodologies <br /> • Project Management <br /> • Kanban & DevOps <br /> • SaaS & Software Development <br /> • Workload Prioritization',
        icon: 'tabler:certificate',
      },
      {
        title:
          'Project Initiation: Starting a Successful Project <br /> <span class="font-normal">Grow with Google on Coursera</span> <br /> <span class="text-sm font-normal">Issued Feb 2023</span>',
        description:
          '• Agile & Scrum <br /> • Project Management <br /> • Kanban <br /> • Workload Prioritization <br /> • Organization Skills',
        icon: 'tabler:certificate',
      },
      {
        title:
          'Foundations of Project Management <br /> <span class="font-normal">Grow with Google on Coursera</span> <br /> <span class="text-sm font-normal">Issued Sep 2022</span>',
        description:
          '• Agile & Scrum <br /> • Kanban <br /> • Project Management <br /> • SaaS & Software Development <br /> • Workload Prioritization',
        icon: 'tabler:certificate',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->
  <Features3
    title="Tools & Technologies"
    subtitle="Leveraging the right tools to drive product success, collaboration, and efficiency."
    columns={3}
    defaultIcon="tabler:tool"
    items={[
      {
        title: 'Roadmapping & Planning',
        description: 'Experienced with Jira, Trello, and Miro for managing product roadmaps, sprints, and workflows.',
        icon: 'simple-icons:jira',
      },
      {
        title: 'User Research & Data',
        description: 'Skilled in Google Analytics and Hotjar to analyze user behavior and optimize experiences.',
        icon: 'simple-icons:googleanalytics',
      },
      {
        title: 'UX & Prototyping',
        description: 'Proficient in Figma for designing wireframes, interactive prototypes, and user flows.',
        icon: 'simple-icons:figma',
      },
      {
        title: 'Communication & Collaboration',
        description: 'Fluent in Slack, Notion, and Loom for effective team collaboration and documentation.',
        icon: 'simple-icons:slack',
      },
      {
        title: 'Technical & APIs',
        description: 'Hands-on experience with SQL for querying data and working with APIs.',
        icon: 'simple-icons:mysql',
      },
      {
        title: 'Enterprise & HR Data',
        description: 'Familiar with Workday and SAP for data analysis and workflow automation.',
        icon: 'simple-icons:sap',
      },
    ]}
  />

  <!-- <Features3
    title="Skills"
    subtitle="Bringing Products to Life Through Strategy, Execution, and Collaboration."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      // Strategy & Vision
      {
        title: 'Product Strategy',
        description:
          'Expert in defining product roadmaps, setting goals, and aligning vision with business objectives.',
      },
      {
        title: 'Agile & Scrum Methodologies',
        description: 'Experienced in managing sprints, backlogs, and iterative product development.',
      },
      {
        title: 'Stakeholder Management',
        description: 'Skilled at aligning cross-functional teams, executives, and customers on product goals.',
      },
      {
        title: 'Market Research & Competitive Analysis',
        description: 'Skilled in identifying market trends, analyzing competitors, and understanding user needs.',
      },
      {
        title: 'Project Management',
        description: 'Strong ability to prioritize tasks, coordinate teams, and ensure timely delivery of projects.',
      },
      {
        title: 'Problem-Solving & Critical Thinking',
        description: 'Capable of analyzing challenges and making data-driven, strategic trade-offs.',
      },

      {
        title: 'Data-Driven Decision Making',
        description: 'Proficient in leveraging data insights, A/B testing, and key metrics for informed decisions.',
      }, -->

      <!-- // Execution & Delivery

      {
        title: 'UX & Customer Insights',
        description: 'Adept in optimizing user experiences through customer feedback and usability testing.',
      },

      // Communication & Leadership

      {
        title: 'Cross-Functional Collaboration',
        description: 'Effective in working with engineering, design, and business teams to drive product success.',
      },
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Have a Look at My Projects"
    subtitle="From strategy to execution, explore how I build impactful digital products that solve real-world problems and enhance user experiences."
    isReversed
    items={[
      {
        title: 'Learning Hub – Reimagining Learning Experiences',
        description:
          'Developed a product roadmap and MVP for a digital learning hub focused on improving the learning experience for women transitioning into tech. Conducted user research, defined key features, and created an interactive prototype to enhance engagement and career development opportunities.',
      },
      {
        title: 'Role:',
        description:
          'Led the product development process, collaborating with a cross-functional team and developing the product vision. Defined user personas, prioritized features using Agile methodologies such as ICE and MoSCoW, and designed wireframes and user flows in Figma to support usability testing.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Brand identity for tech innovators</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Easter Egg *********** -->
  <Content
    id="easteregg"
    columns={3}
    items={[
      // {
      //   icon: 'tabler:brand-dribbble',
      //   callToAction: {
      //     target: '_blank',
      //     text: 'Dribbble',
      //     href: '#',
      //   },
      // },

      {
    icon: 'tabler:brand-linkedin',
    callToAction: {
      target: '_blank',
      text: 'LinkedIn',
      href: 'https://www.linkedin.com/in/anna-lenabirkner', // Replace with your LinkedIn URL
    },
  },
  {
    icon: 'tabler:mail',
    callToAction: {
      target: '_blank',
      text: 'Email Me',
      href: 'birkneranna@gmail.com', // Replace with your email
    },
  }
    ]}
    image={{
      src: '~/assets/images/earlyadopter.png',
      alt: 'Early adopter Image',
      loading: 'eager',
    }}
  >
  <Fragment slot="content">
    <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">OMG – You Made It! 🎉</h2>
    <p>
      Seriously, I’m impressed. Since you scrolled all the way down here, I’ve got a little something for you – 
      a special treat from my early days as a tech enthusiast. Behold: a baby pic of me hacking away on an old-school keyboard. 
      An early adopter in the making! 🖥️👶
    </p>
    <br />
    <p>
      But enough about me – I’d love to connect! Whether it’s about AI, Tech, Product Management, or even cooking 
      (yes, I love whipping up delicious meals when I’m not building products), I’m always up for a good conversation. 
      Let’s chat, brainstorm, or just geek out over something cool. 🚀
    </p>
    <br />
    <p>
      Feel free to reach out – let’s talk tech, ideas, or share some killer recipes. Whatever works. 😊
    </p>
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
